/* Contact */

#text-files2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin: 16px 0;
    width: 100%;
    min-height: 100px;
}

.map-contact {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;

    margin: 24px auto;
    width: 100%;
    min-height: 500px;
}

.img-right {
    background-image: url(../img/Castlelogo_silver.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--platinum);
    width: 100%;
    min-height: 500px;
    z-index: 0;
    position: relative;
}

.img-right img {
    object-fit: cover;
    width: 100%;
    min-height: 500px;
    position: sticky;
}

.contact-form1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100px;
    text-align: justify;
}

.contact-form1 > fieldset {
    width: 80%;
    min-height: 100px;
    margin: 0;
}

.contact-form1 legend {
    background-color: var(--green-pakistan);
    border-radius: 20px;
    color: var(--white);
    padding: 8px 24px;
    width: 70%;
    font-size: 2rem;
    font-weight: bold;
}

.contact-form2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    margin: 8px auto;
    width: 80%;
}

.contact-form2 input {
    width: 70%;
    height: 40px;
    border-radius: 50px;
}

.contact-form2 label {
    color: var(--green-pakistan);
    font-size: 1.4em;
    font-weight: bold;
    padding: 8px 0;
}

.contact-form2 textarea {
    border-radius: 20px;
}

input[placeholder],
textarea[placeholder] {
    padding: 8px;
}

.contact-form3 {
    display: flex;
    justify-content: center;
}

/* Mentions légales/FAQ */

.map-contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 90%;
    min-height: 100px;
}

.present {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 200px;
    text-align: center;
}

.present h2 {
    margin: 24px auto;
}

.present ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    font-weight: 700;
    width: 80%;
}

.present li {
    font-size: 1.3rem;
    margin: 8px 0;
    width: 90%;
    text-align: center;
}

.present li::first-letter {
    font-family: 'Medieval Scribish';
}

.present img {
    border: 3px solid var(--green-pakistan);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--gold-satin);
    width: 100%;
    margin: 8px auto;
    transition: all 0.5s ease-in;
}

.present img:hover {
    box-shadow: 5px 5px 7px var(--gold-satin);
    filter: saturate(50%);
    width: 100%;
    height: 150px;
}

/* Responsive > 780px */

@media screen and (min-width:780px) {
    /* Contactez moi */

    .map-contact {
        width: 50%;
    }

    .img-right {
        background-size: contain;
        background-position: center;
        min-height: 600px;
        width: 50%;
        margin: 0 auto;
    }

    .present li {
        width: 90%;
    }

    .present ul:nth-child(even),
    .present ul:nth-child(even) li {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        font-weight: 700;
        width: 80%;
    }

    .present ul:nth-child(odd),
    .present ul:nth-child(odd) li {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: flex-start;
        align-items: center;

        font-weight: 700;
        width: 80%;
    }

    .present img {
        min-width: 90%;
        height: 200px;
    }

    .present img:hover {
        width: 80%;
        height: 250px;
    }

    /* Formulaire */

    .form-border fieldset {
        width: 50%;
    }

    .form-border input {
        width: 60%;
        margin-bottom: 16px;
    }

    .form-register input[type="checkbox"] {
        margin: 0;
        width: 10%;
    }
}